@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">¡Lo sentimos! Nos hemos encontrado con un error inesperado.</h2>
    <p>
        Para volver a intentarlo, <a href="javascript:history.go(1)">haz click aquí.</a>
    </p>
</hgroup>
