@{
    ViewBag.Title = "Nosotros";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        ¡Somos una empresa familiar con más de 50 años de experiencia!
    </p>
</article>

