@{
    ViewBag.Title = "IndexAdmin";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bienvenidos a Jugueterías Sawin</h1>
            </hgroup>
            <p>

            </p>
        </div>
    </section>
}
<h3>Para ver más:</h3>
<ol class="round">
    <li class="one">
        <h5>Productos</h5>
        Para ver todos nuestros productos haga click
        <a href="~/Productos/Products">aquí.</a>
    </li>

    <li class="two">
        <h5>Usuarios registrados</h5>
        Para ver la lista de los usuarios registrados, haga click
        <a href="~/Users/Index">aquí.</a>
    </li>

    <li class="three">
        <h5>Proveedores</h5>
        Para ver la lista completa de proveedores, haga click
        <a href="~/Proveedores/Index">aquí.</a>
    </li>
</ol>

